<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e46e8f">  <td>20/05/25 19:33:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.login()[pri:0, instance:com.qa.onlineshopping.LoginTest@3a82f6ef]">login</td> 
  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="e46e8f">  <td>20/05/25 19:32:45</td>   <td>-17101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.qa.onlineshopping.LoginTest@3a82f6ef]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
<tr bgcolor="e46e8f">  <td>20/05/25 19:33:04</td>   <td>2193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:com.qa.onlineshopping.LoginTest@3a82f6ef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2094411587</td>   <td></td> </tr>
</table>
